/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

/* Custom scrollbar for menus only */
.scrollbar-thin {
  scrollbar-width: thin;
}

.leaflet-container {
  font-family: inherit;
}